<h1>Add your pet information below:</h1>

<%= form_for @pet, url: pets_path do |f| %>
  <div class="form-group">
    <fieldset>
      <%= f.label :name %>
      <%= f.text_field :name, class:"form-control" %>

      <%= f.label :breed %>
      <%= f.text_field :breed, class:"form-control" %>

      <%= f.submit "Submit", class: "btn btn-default"%>
    </fieldset>
  </div>
<% end %>
