 <div class="page-header">
    <%= link_to root_path, class: "btn btn-default" do %><i class="glyphicon glyphicon-home"></i>
    <% end %>
</div>

<br>
<br>

<div class="row">
  <div class="col-md-12" id="profile_details">
    <h2>Logged in as: <%= @user.name %></h2>
    <% if @user.pets != [] %>
      <h2>You have <%= @user.pets.size %> registered pet: <%= @user.pets.first.name %> </h2>
      <h2>Your user token: <%= @user.api_key %></h2>
    <% else %>
      <h2>You have no registered pets.</h2>
    <% end %>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-12" id="profile_details">
    <h2>Feeding Stats</h2>

  </div>
</div>


