 <div class="page-header">
    <%= link_to root_path, { :'data-no-turbolink' =>  "true" }  do %><button class="btn btn-default"><i class="glyphicon glyphicon-home"></i></button>
    <% end %>
    <h5 id="logged_in">Logged in as: <%= @user.name %></h5>
</div>

<br>
<br>

<% if @user.pet_id != nil %>
 <% if @pet.master_user == @user.id %>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Pet Token
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <h6>This token should only be shared with people you trust to feed your pet. It will allow them access to your feeder.</h6>
          <%= @pet.api_key %>
          <br>
          <%= button_to "Regenerate Pet Token", regenerate_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Food Supply
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          Current Food Supply
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Average Daily Food Intake
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          Some more stat info that I haven't sorted out yet.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Current Feed Schedule
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          <div class="col-md-6" id="scheduled_feedings">
          <%= render 'schedule/schedule_index' %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% else %>
    <h2>You have no registered pets.</h2>
<% end %>


