<% if logged_in? %>

<script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };
    return t;
  }(document, "script", "twitter-wjs"));
</script>

<div class="page-header">
  <div class="dropdown">
      <button type="button" class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-label="Left Align">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <% if logged_in? %>
          <li><%= link_to "Profile", user_path(session[:user_id]) %></li>
          <li><%= link_to "Log Out", logout_path %></li>
        <% end %>
      </ul>
    </div>
        <% today = Time.now.strftime("%I:%M,%m/%d") %>
        <% url = "https://twitter.com/intent/tweet?text=Fed%20my%20fat%20cat%20at%20" + today.to_s + "%20via" %>
        <a class="twitter-share-button" href=<%= url %> data-size="large" data-count value="none"> Tweet</a>
</div>
<% end %>

  <div class="row" id="header_text">
    <h1>Robo Feeder</h1>
  </div>

  <div class="twitter_login">
    <% unless logged_in? %>
      <%= link_to image_tag('sign-in-with-twitter-gray.png'), login_path('twitter')%>
    <% end %>
  </div>

<% if logged_in? %>


<br>
  <% if @user.pet_id != nil %>
    <div class="row">
      <div class="col-xs-12", id="feed_details">
        <h3><%= @pet.name %> has been fed <div class="num_feedings"><%= @num_feedings %></div> times today</h3>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <%= button_to "Feed Now", feed_request_path, class: "btn btn-default", id: "feed_button" %>
        <br>
        <%= button_to "Schedule a Feeding", schedule_path, method: :get, class: "btn btn-default", id: "schedule_button" %>
        <div class="schedule_form">

        </div>
        <br>
        <%= button_to "Cancel Feedings", cancel_path, method: :put, data: { confirm: "This will delete all schedule feedings. Proceed?"}, class: "btn btn-default", id: "cancel_button" %>
      </div>
    </div>

  <% else %>
    <div class="row">
      <div class="col-xs-12", id="landing_page">
          <h3><%= link_to "Register your robo feeder!",  new_pet_path(session[:user_id]) %></h3>
          <h3><%= link_to "Find Feeder", edit_user_path(session[:user_id]) %></h3>
          <h5>If you have been given access to a registered feeder, you can link to their account below. You will need the correct pet token.</h5>
          <h3>Tutorial for Building Feeder </h3>
      </div>
  <% end %>
<% end %>



